In [1]:
import pandas as pd

In [2]:
archivo = 'cuentas-streaming.xlsx'

In [5]:
df_clientes = pd.read_excel(archivo, sheet_name='CLIENTES')
df_clientes

                      WSPP         NUMERO             PAGO FECHA_INGRESO
0                12oscarxs    51994096654              NaN           NaT
1     19luis09delgado19982   582518872568              NaN           NaT
2            1tommyduran96    19512495146              NaN           NaT
3             22l22rvmd220    50360783005              NaN           NaT
4                   59wffc   593996197870              NaN           NaT
...                    ...            ...              ...           ...
3224            WA-MX-1692  5217421114776  /transferencia1    2023-12-09
3225            WA-MX-1693  5216692770913  /transferencia1    2023-12-09
3226            WA-MX-1694  5212221524724  /transferencia2    2023-12-09
3227            WA-MX-1695  5218662144719              NaN    2023-12-09
3228            WA-MX-1696  5219984572978              NaN    2023-12-09

[3229 rows x 4 columns]

In [6]:
df_clientes["PAGO"].fillna("ND", inplace=True)
df_clientes

                      WSPP         NUMERO             PAGO FECHA_INGRESO
0                12oscarxs    51994096654               ND           NaT
1     19luis09delgado19982   582518872568               ND           NaT
2            1tommyduran96    19512495146               ND           NaT
3             22l22rvmd220    50360783005               ND           NaT
4                   59wffc   593996197870               ND           NaT
...                    ...            ...              ...           ...
3224            WA-MX-1692  5217421114776  /transferencia1    2023-12-09
3225            WA-MX-1693  5216692770913  /transferencia1    2023-12-09
3226            WA-MX-1694  5212221524724  /transferencia2    2023-12-09
3227            WA-MX-1695  5218662144719               ND    2023-12-09
3228            WA-MX-1696  5219984572978               ND    2023-12-09

[3229 rows x 4 columns]

In [7]:
df_clientes["FECHA_INGRESO"] = df_clientes["FECHA_INGRESO"].fillna("2023-06-06")
df_clientes

                      WSPP         NUMERO             PAGO FECHA_INGRESO
0                12oscarxs    51994096654               ND    2023-06-06
1     19luis09delgado19982   582518872568               ND    2023-06-06
2            1tommyduran96    19512495146               ND    2023-06-06
3             22l22rvmd220    50360783005               ND    2023-06-06
4                   59wffc   593996197870               ND    2023-06-06
...                    ...            ...              ...           ...
3224            WA-MX-1692  5217421114776  /transferencia1    2023-12-09
3225            WA-MX-1693  5216692770913  /transferencia1    2023-12-09
3226            WA-MX-1694  5212221524724  /transferencia2    2023-12-09
3227            WA-MX-1695  5218662144719               ND    2023-12-09
3228            WA-MX-1696  5219984572978               ND    2023-12-09

[3229 rows x 4 columns]

In [19]:
df_registros = pd.read_excel(archivo, sheet_name='REGISTROS')
df_registros

,FECHA,PROVEEDOR,TIPO,CORREO,CONTRA,PERFIL,USUARIO,VENCIMIENTO,ESTADO,NUMERO,PAIS,PAGO,OBSERVACIÓN
0,NaT,CLARO,PRIME VIDEO,Sandra.Wells@skyfallon.com,Nasfadb0611,P2,oscarcantosc,2023-11-19,Vencida,5.939589e+11,PE,0,NO RENOVARA
1,NaT,03|28,PRIME VIDEO,Dakota.Walker@skyfallon.com,cuenta12345,COMPLETA,Elimar,2023-11-24,Vencida,5.842425e+11,PE,0,Le envie mensaje 2
2,NaT,06|28,PRIME VIDEO,Jessica.Frederick@skyfallon.com,Nasdhbs1711,P1,WA-MX-1048,2023-11-25,Vencida,5.215625e+12,MX,0,NO RENOVARA
3,2023-07-19,"PAIS = PE | PLAN = BRONCE HD, LIGA 1 MAX|",DIRECTV GO,juantasayco_730@hotmail.com,Virus1200@,COMPLETA,WA-PE-712,2023-11-28,Vencida,5.199192e+10,PE,/yape,NO RENOVARA
4,NaT,FLOW,DISNEY,Tina.Black@skyfallon.com,Nasha3011,P1,WA-MX-827,2023-11-28,Vencida,5.216563e+12,MX,0,Le envie mensaje 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,2023-12-01,DIRECTV,STAR,Greg.Bonilla@skyfallon.com,cuenta12345,P1,NaN,NaT,Vencida,NaN,NaN,NaN,NaN
4698,2023-12-01,DIRECTV,DISNEY,Greg.Bonilla@skyfallon.com,cuenta12345,P2,NaN,NaT,Vencida,NaN,NaN,NaN,NaN
4699,2023-12-01,DIRECTV,DISNEY,Greg.Bonilla@skyfallon.com,cuenta12345,P3,NaN,NaT,Vencida,NaN,NaN,NaN,NaN
4700,2023-12-01,DIRECTV,DISNEY,Greg.Bonilla@skyfallon.com,cuenta12345,P4,NaN,NaT,Vencida,NaN,NaN,NaN,NaN
4701,2023-12-01,DIRECTV,DISNEY,Greg.Bonilla@skyfallon.com,cuenta12345,P5,NaN,NaT,Vencida,NaN,NaN,NaN,NaN

In [60]:
df_vencimientos = df_registros[["USUARIO", "ESTADO"]].groupby(by=["USUARIO"], dropna=True).head(2)
df_vencimientos

           USUARIO      ESTADO
0     oscarcantosc     Vencida
1           Elimar     Vencida
2       WA-MX-1048     Vencida
3        WA-PE-712     Vencida
4        WA-MX-827     Vencida
...            ...         ...
3264    WA-MX-1350  No vencida
3265    WA-MX-1380  No vencida
3266       Senying  No vencida
3267       Senying  No vencida
4686     WA-MX-220  No vencida

[1775 rows x 2 columns]

In [61]:
df_pagos = df_registros[["USUARIO", "ESTADO", "TIPO", "PERFIL"]]
df_pagos

           USUARIO   ESTADO         TIPO    PERFIL
0     oscarcantosc  Vencida  PRIME VIDEO        P2
1           Elimar  Vencida  PRIME VIDEO  COMPLETA
2       WA-MX-1048  Vencida  PRIME VIDEO        P1
3        WA-PE-712  Vencida   DIRECTV GO  COMPLETA
4        WA-MX-827  Vencida       DISNEY        P1
...            ...      ...          ...       ...
4697           NaN  Vencida         STAR        P1
4698           NaN  Vencida       DISNEY        P2
4699           NaN  Vencida       DISNEY        P3
4700           NaN  Vencida       DISNEY        P4
4701           NaN  Vencida       DISNEY        P5

[4702 rows x 4 columns]

In [65]:
precios = {
    "PRIME VIDEO" : 40,
    "DIRECTV GO" : 90,
    "DISNEY" : 40,
    "NETFLIX" : 75,
    "PARAMOUNT" : 40,
    "SPOTIFY" : 40,
    "STAR": 50,
    "HBO MAX": 40,
    "LIGA 1 PLAY": 35,
    "IPTV": 80,
    "VIX": 40,
    "COMBO": 100,
    "MOVISTAR TV": 40,
    "CRUNCHY": 50,
    "YOUTUBE": 100,
    "CLARO VIDEO": 50,
    "VIKI": 35
}

def pagos(tipo_):
    return precios.get(tipo_)

for index, row in df_pagos.iterrows():
    tipo = row["TIPO"]
    precio = pagos(tipo)
    df_pagos.loc[index, "PRECIO"] = precio

df_pagos

           USUARIO   ESTADO         TIPO    PERFIL  PRECIO
0     oscarcantosc  Vencida  PRIME VIDEO        P2    40.0
1           Elimar  Vencida  PRIME VIDEO  COMPLETA    40.0
2       WA-MX-1048  Vencida  PRIME VIDEO        P1    40.0
3        WA-PE-712  Vencida   DIRECTV GO  COMPLETA    90.0
4        WA-MX-827  Vencida       DISNEY        P1    40.0
...            ...      ...          ...       ...     ...
4697           NaN  Vencida         STAR        P1    50.0
4698           NaN  Vencida       DISNEY        P2    40.0
4699           NaN  Vencida       DISNEY        P3    40.0
4700           NaN  Vencida       DISNEY        P4    40.0
4701           NaN  Vencida       DISNEY        P5    40.0

[4702 rows x 5 columns]

In [68]:
df_servicios = df_pagos[["USUARIO", "TIPO"]]
df_servicios.dropna()

           USUARIO         TIPO
0     oscarcantosc  PRIME VIDEO
1           Elimar  PRIME VIDEO
2       WA-MX-1048  PRIME VIDEO
3        WA-PE-712   DIRECTV GO
4        WA-MX-827       DISNEY
...            ...          ...
3269       Senying      NETFLIX
3270       Senying    PARAMOUNT
3271       Senying         VIKI
3272       Senying         VIKI
4686     WA-MX-220      SPOTIFY

[3272 rows x 2 columns]